<section id="gallery-section"></section>
{% schema %}
{
  "name": "Custom Gallery",
  "presets": [
    {
      "name": "Custom Gallery",
      "category": "Custom Gallery"
    }
  ]
}
{% endschema %}
