{{ 'gallery-landing.css' | asset_url | stylesheet_tag }}

<section class="swiper-container-gallery">
  <div class="gallery-text-content">
    <h3>{{ section.settings.gallery_title }}</h3>
    <p>
      {{ section.settings.gallery_text }}
    </p>
  </div>

  <div class="gallery-swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="gallery-slide-container">
            <img
              src="{{ block.settings.image | image_url }}"
              width="auto"
              height="auto"
            >
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.gallery-swiper', {
      direction: 'horizontal',
      slidesPerView: 1.2,
      spaceBetween: 10,
      loop: true,
      allowTouchMove: true,
      grabCursor: true,
      slideToClickedSlide: true,
      breakpoints: {
        1366: {
          slidesPerView: 4.2,
          centeredSlides: true,
        },
        768: {
          slidesPerView: 2.2,
          centeredSlides: true,
        },
        428: {
          slidesPerView: 1.2,
          centeredSlides: true,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Gallery for Landing",
  "settings": [
    {
      "type": "text",
      "id": "gallery_title",
      "label": "Gallery Title",
      "default": "Lorem ipsum dolor sit amet"
    },
    {
      "type": "textarea",
      "id": "gallery_text",
      "label": "Gallery Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nunc ultrices, feugiat augue vitae, accumsanquam."
    },
    {
      "type": "image_picker",
      "id": "default_image",
      "label": "Default Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery for Landing",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
