<header class="header container">
  <a href="#" class="header__logo">
    <img src="{{ 'logo.png' | asset_url }}" width="100%" height="100%" alt="THP">
  </a>
  <nav class="header__nav">
    <ul>
      <li class="header__nav-item"><a href="/">Catalog</a></li>
      <li class="header__nav-item"><a href="#">Categories</a></li>
      <li class="header__nav-item"><a href="#">About</a></li>
      <li class="header__nav-item"><a href="#">Reviews</a></li>
      <li class="header__nav-item"><a href="#">FAQ</a></li>
      <li class="header__nav-item"><a href="#">Contact us</a></li>
    </ul>
  </nav>
  <button class="button button-default header__button">Visit market</button>
  <i class="hamburder-icon" onclick="openMenu()">
    <img src="{{ 'icon.burger-menu.svg' | asset_url }}" alt="logo" width="100%" height="100%">
  </i>
</header>

<div id="container">
  <div id="close" onclick="closeMenu()">
    <img src="{{ 'icon.burger-close.svg' | asset_url }}" alt="logo" width="100%" height="100%">
  </div>
  <ol id="menu">
    <li><a href="#">Catalog</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Contact us</a></li>
    <li><button class="button button-default header__button button-wide">Visit market</button></li>
  </ol>
</div>

<script>
  function openMenu() {
    document.getElementById('container').style.right = '0%';
    document.getElementById('menu').style.opacity = '1';
  }
  function closeMenu() {
    document.getElementById('container').style.right = '-100%';
    document.getElementById('menu').style.opacity = '0';
  }
</script>
