.accordion .accordion-item {
  border-bottom: 1px solid var(--menu-border-color);
}
.accordion .accordion-item button[aria-expanded="true"] {
}

.accordion button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  color: var(--color-primary);
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  background-color: var(--color-light-grey);
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.accordion button .accordion-title {
  padding: 0 24px 0 24px;
  width: 60%;
}
.blue-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: rgba(66, 171, 222, 1);
  border-radius: 50%;
}
.blank-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: transparent;
}

@media (max-width: 1366px) {
  .accordion-number {
    display: none;
  }
  .blank-dot {
    display: none;
  }
  .accordion button .accordion-title {
    width: 100%;
  }
  .accordion .accordion-content p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .blue-dot {
    display: none;
  }
  .accordion button .accordion-title {
    padding: 0 24px 0 0px;
  }
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 13px;
  left: 5px;
  width: 18px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 13px;
  width: 2px;
  height: 18px;
  background: currentColor;
  border-radius: 5px;
}
.accordion button[aria-expanded="true"] {
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  margin: 1em 0;
  width: 60%;
  padding: 0 0 0 24px;
}
@media (max-width: 1366px) {
  .accordion .accordion-content p {
    width: 100%;
    padding: 0;
  }
}

.faq-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.faq-text-container h2 {
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: var(--color-black);
}

.faq-text-container p {
  font-family: var(--font-karla);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
  max-width: 508px;
  text-align: center;
}

@media (max-width: 768px) {
  .faq-text-container h2 {
    font-size: 32px;
  }
}

@media (max-width: 428px) {
  .faq-text-container h2 {
    font-size: 24px;
  }
}

.accordion-title {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: var(--color-black);
}

.accordion-number {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: var(--color-primary);
}

.accordion-answer {
  font-family: var(--font-karla);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}
