.info-large-container {
  max-width: 1440px;
  margin: 0 auto;
}

.large-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--menu-border-color);
  padding: 20px 10px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
.large-list-title {
  font-family: var(--font-montserrat);
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: var(--color-black);
  width: 300px;
}

.large-list-text {
  font-family: var(--font-karla);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}

.large-list img {
  border-radius: 80px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .large-list {
    flex-direction: column;
  }
  .large-list-item:nth-child(2n - 1) {
    order: 1;
  }

  .large-list-title,
  .large-list-text {
    text-align: center;
  }

  .large-list-title {
    font-size: 32px;
  }
}

.large-list-text {
  width: 400px;
}

.padding-top-bottom-20 {
  padding: 20px 0;
}

.flex-vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
