#product-variants .product-variants {
  padding-inline: 25px;
}

@media (min-width: 1366px) {
  #product-variants .product-variants {
    padding-inline: 62px;
  }
}

#product-variants .swiper-vertical > .swiper-wrapper {
  flex-direction: row;
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical > .swiper-wrapper {
    flex-direction: column;
  }
}

#product-variants .swiper-vertical {
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow: hidden;
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical {
    max-width: 1350px;
    margin: auto;
    height: 600px;
    align-items: center;
    flex-direction: row-reverse;
  }
}

#product-variants .swiper-slide {
  display: flex;
  align-items: center;
}

#product-variants .slide-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

#product-variants .vertical-slider-product-title {
  font-family: var(--font-montserrat);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
}

/* @media (min-width: 1366px) {
  .vertical-slider-product-title {
    justify-content: left;
  }
} */

#product-variants .swiper-horizontal-container {
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: var(--color-light-grey);
  overflow: hidden;
  border-radius: 12px;
}

#product-variants .swiper-horizontal-container img {
  max-height: 450px;
  height: auto;
  margin: 0 auto;
}

#product-variants .swiper-horizontal-pagination {
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
}

#product-variants .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  opacity: 1;
  border: 2px solid transparent;
  position: relative;
  background-color: var(--color-primary);
}

#product-variants .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border 0.3s ease;
}

#product-variants .swiper-pagination-bullet:hover::before,
#product-variants .swiper-pagination-bullet-active::before {
  border: 1px solid var(--color-accent);
}

#product-variants .swiper-pagination-bullet-active {
  background-color: var(--color-accent);
}

#product-variants .vertical-slider-product-description {
  font-family: var(--font-karla);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-primary);
  line-height: 25px;
}

#product-variants .weight {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

#product-variants .vertical-slider-product-description a {
  width: 100%;
}

@media (min-width: 1366px) {
  #product-variants .vertical-slider-product-description a {
    max-width: 180px;
  }
}

@media (min-width: 1366px) {
  #product-variants .slide-container {
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: 100px 500px;
    grid-template-areas:
      "vertical-slider-product-title swiper-horizontal-container"
      "vertical-slider-product-description swiper-horizontal-container";
    align-items: center;
    gap: 0 50px;
  }

  #product-variants .vertical-slider-product-title {
    grid-area: vertical-slider-product-title;
  }

  #product-variants .vertical-slider-product-description {
    grid-area: vertical-slider-product-description;
  }

  #product-variants .swiper-horizontal-container {
    grid-area: swiper-horizontal-container;
  }
}

#product-variants .swiper-vertical-navigation {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical-navigation {
    width: 50px;
    height: 100%;
    flex-direction: column;
  }
}

#product-variants .swiper-vertical-scrollbar {
  width: 100%;
  height: 5px;
  background-color: var(--color-light-grey);
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical-scrollbar {
    width: 5px;
    height: 100%;
  }
}

#product-variants .swiper-scrollbar-drag {
  background-color: var(--color-accent);
}

#product-variants .swiper-vertical-prev,
#product-variants .swiper-vertical-next {
  position: relative;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 30px;
  border-radius: 50%;
  outline: 1px solid var(--color-light-grey);
  background-color: var(--color-light-grey);
  outline-offset: -5px;
  cursor: pointer;
}

#product-variants .swiper-vertical-prev::after,
#product-variants .swiper-vertical-next::after {
  content: "";
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical-prev {
    transform: rotate(90deg);
  }
}

@media (min-width: 1366px) {
  #product-variants .swiper-vertical-next {
    transform: rotate(90deg);
  }
}

#product-variants .button-small {
  text-align: center;
  width: 180px;
  background-color: var(--color-accent);
  padding: 14px 28px;
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  font-size: 15px;
  font-family: var(--font-family-secondary);
  text-decoration: none;
}

#product-variants .swiper-vertical-prev,
#product-variants .swiper-vertical-next {
  background-color: var(--color-light-grey);
}
