:root {
  --font-karla: Karla, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --color-primary: rgba(128, 128, 128, 1);
  --color-accent: rgba(66, 171, 222, 1);
  --color-black: rgba(35, 31, 32, 1);
  --color-white: rgb(255, 255, 255);
  --color-light-grey: rgba(248, 248, 248, 1);
  --menu-border-color: rgba(221, 221, 221, 1);
  --font-size-small: 15px;
  --font-size-large: 24px;
}

.hamburder-icon {
  margin: 20px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#close {
  margin: 20px;
  float: right;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
#container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  text-align: center;
  transition: all 0.6s ease;
  display: none;
}

@media (max-width: 768px) {
  #container {
    display: block;
  }
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 100px;
  bottom: 0px;
  list-style: none;
  text-align: center;
  opacity: 0;
  transition: all 1s ease;

  counter-reset: item;
}

#menu li {
  border-top: 1px solid var(--menu-border-color);
  line-height: normal;
  background-color: var(--color-white);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#menu li::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  top: 25px;
  left: 6px;

  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}
#menu li:last-child::before {
  content: " ";
}

#menu li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-black);
  margin: 5px 0px;
  transition: all 0.3s ease;
  font-family: var(--font-montserrat);
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}
#menu li a:hover {
  background-color: #000;
  color: #fff;
}

/**/

.container {
  max-width: 1410px;
  margin: 0 auto;
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.header__nav ul {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header__logo {
  width: 200px;
  position: relative;
  z-index: 10;
}

.header__button {
  background-color: rgba(66, 171, 222, 1);
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header button {
    display: none;
  }
  .hamburder-icon {
    display: block;
  }
}

.header__nav-item {
  font-family: var(--font-karla);
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}

/*BUTTONS*/

.button {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  border: unset;
}

.button-wide {
  width: 90%;
}

.button-default {
  min-height: 38px;
  font-size: 14px;
  line-height: normal;
  padding-right: 17px;
  font-weight: 500;
  border-radius: 20px;
}

.header__button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

@media (max-width: 768px) {
  .header__button {
    text-align: center;
  }
}

/*** Collections Slider Section ***/
.collection-slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.collection-title,
.collection-amount {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}

.collection-title:hover,
.collection-title:active,
.collection-amount:hover,
.collection-amount:active {
  color: var(--color-black);
}

.collection-content-item {
  display: flex;
  gap: 10px;
}

.collection-amount {
  font-size: 30px;
}

.collection-text-container {
  width: 510px;
  margin-bottom: 20px;
}

.collection-text {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--color-primary);
}

.product-container {
  background: var(--color-light-grey);
  border-radius: 12px;
  padding-top: 10px;
  height: 500px;
  width: 100%;
}

.product-image-container {
  height: 350px;
  margin-bottom: 20px;
}

.product-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.product-title {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--color-black);
}

.product-weight {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-primary);
}

.product-price {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: var(--color-accent);
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.gap {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-decor {
  text-decoration: none;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#collections-slider-section {
  margin-bottom: 30px;
}

@media screen and (max-width: 400px) {
  .collection-title,
  .collection-amount {
    font-size: 24px;
    line-height: 36px;
  }
  .collection-text-container {
    max-width: 380px;
  }
}

@media screen and (min-width: 401px) and (max-width: 760px) {
  .collection-title,
  .collection-amount {
    font-size: 32px;
    line-height: 48px;
  }
}

/* Top sellers section */
.top-seller-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-seller-title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(35, 31, 32, 1);
  margin-bottom: 15px;
}

.top-seller-text {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(128, 128, 128, 1);
  max-width: 508px;
  margin-bottom: 35px;
}

.top-seller-card {
  width: 695px;
  background-color: rgba(66, 171, 222, 0.08);
  border-radius: 12px;
}

.top-seller-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

.top-seller-product-title {
  color: rgba(66, 171, 222, 1);
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.top-seller-image {
  max-height: 800px;
}

.arrow-container {
  width: 50px;
}

.top-seller-content {
  padding-left: 30px;
  padding-right: 30px;
}

.top-seller-product-text,
.top-seller-product-text span {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: inherit;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  max-width: 1400px;
}

.top-seller-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#top-seller-swiper {
  display: none;
}

.top-seller-arrow-left,
.top-seller-arrow-right {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.top-seller-arrow-container {
  display: block;
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 428px) {
  .top-seller-product-title {
    font-size: 18px;
    line-height: 27px;
  }

  .top-seller-title-container {
    padding-top: 20px;
  }

  .top-seller-content {
    padding: 0 10px;
  }

  .top-seller-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }

  .top-seller-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .top-seller-card {
    max-width: 280px;
    height: 650px;
  }

  .swiper-container-top-seller {
    max-height: 385px;
    width: 96%;
  }
  #top-seller-swiper {
    display: block;
  }

  .card-container {
    display: none;
  }

  .top-seller-title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .top-seller-text {
    max-width: 508px;
  }

  .top-seller-slide {
    margin: auto;
  }
}
