:root {
  --font-karla: Karla, sans-serif;
  --font-montserrat: Montserrat, sans-serif;
  --color-primary: rgba(128, 128, 128, 1);
  --color-accent: rgba(66, 171, 222, 1);
  --color-black: rgba(35, 31, 32, 1);
  --color-white: rgb(255, 255, 255);
  --color-light-grey: rgba(248, 248, 248, 1);
  --menu-border-color: rgba(221, 221, 221, 1);
  --font-size-small: 15px;
  --font-size-large: 24px;
}

.hamburder-icon {
  margin: 20px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#close {
  margin: 20px;
  float: right;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
#container {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  text-align: center;
  transition: all 0.6s ease;
  display: none;
}

@media (max-width: 768px) {
  #container {
    display: block;
    z-index: 5;
  }
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  top: 100px;
  bottom: 0px;
  list-style: none;
  text-align: center;
  opacity: 0;
  transition: all 1s ease;

  counter-reset: item;
}

#menu li {
  border-top: 1px solid var(--menu-border-color);
  line-height: normal;
  background-color: var(--color-white);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#menu li::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;
  position: absolute;
  top: 25px;
  left: 6px;

  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}
#menu li:last-child::before {
  content: " ";
}

#menu li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-black);
  margin: 5px 0px;
  transition: all 0.3s ease;
  font-family: var(--font-montserrat);
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  text-align: left;
}
#menu li a:hover {
  background-color: #000;
  color: #fff;
}

/**/

.container {
  max-width: 1410px;
  margin: 0 auto;
}

/*HEADER*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.header__nav ul {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.header__logo {
  width: 200px;
  position: relative;
  z-index: 10;
}

.header__button {
  background-color: rgba(66, 171, 222, 1);
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header button {
    display: none;
  }
  .hamburder-icon {
    display: block;
  }
}

.header__nav-item {
  font-family: var(--font-karla);
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}

/*BUTTONS*/

.button {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  border: unset;
}

.button-wide {
  width: 100%;
}

.button-default {
  min-height: 38px;
  font-size: 14px;
  line-height: normal;
  padding-right: 17px;
  font-weight: 500;
  border-radius: 20px;
}

.header__button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-small);
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

@media (max-width: 768px) {
  .header__button {
    text-align: center;
  }
}

/*MARGINS / PADDINGS*/

.padding-top-bottom-20 {
  padding: 20px 0;
}
.flex-vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}
.sub-heading {
  text-align: center;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__nav ul {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.footer__logo {
  width: 200px;
}

/*SOCIAL GRID*/

.social-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
@media (max-width: 768px) {
  .social-grid {
    grid-template-columns: 1fr;
  }
}
.social-grid-item {
  background-color: var(--color-light-grey);
  border-radius: 10px;
  padding: 30px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: var(--color-accent);
}
.arrow-icon-45 {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-white);
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-title {
  font-family: var(--font-karla);
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--color-primary);
}
