.top-seller-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-seller-title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(35, 31, 32, 1);
  margin-bottom: 15px;
}

.top-seller-text {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgba(128, 128, 128, 1);
  max-width: 508px;
  margin-bottom: 35px;
}

.top-seller-card {
  background-color: rgba(66, 171, 222, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.top-seller-title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}

.top-seller-product-title {
  color: rgba(66, 171, 222, 1);
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

.top-seller-image {
  /* max-height: 800px; */
  max-width: 600px;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.top-seller-content {
  padding-left: 30px;
  padding-right: 30px;
}

.top-seller-product-text,
.top-seller-product-text span {
  font-family: Karla, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: inherit;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.top-seller-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#top-seller-swiper {
  display: none;
}

.top-seller-arrow-left,
.top-seller-arrow-right {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.top-seller-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 428px) {
  .top-seller-product-title {
    font-size: 18px;
    line-height: 27px;
  }

  .top-seller-title-container {
    padding-top: 20px;
  }

  .top-seller-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }

  .top-seller-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .top-seller-card {
    height: 650px;
  }

  .top-seller-content {
    display: flex;
    flex-direction: column;
  }

  .swiper-container-top-seller {
    width: 96%;
    overflow: hidden;
  }
  #top-seller-swiper {
    display: block;
  }

  .card-container {
    display: none;
  }

  .top-seller-title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  .top-seller-text {
    max-width: 508px;
  }

  .top-seller-arrow-container {
    padding-top: 10px;
  }
}
